.nav-bar {
  min-height: 10vh;
  background-color: #13131360;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 20px;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desktop-menu {
  display: none;
}
.icons-container {
  display: flex;
  align-items: center;
}
.search-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
}
.search-input-route-container {
  background: transparent;
  padding: 4px 0px 4px 8px;
  border-radius: 4px;
  height: 24px;
  width: 114px;
}
.search-button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin-right: 8px;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-route-btn {
  height: 22px;
  width: 20px;
  background-color: transparent;
  border-radius: 0px 3px 3px 0px;
  margin: 0;
  border: 1px solid white;
}
.icons {
  font-size: 17px;
  color: #ffffff;
}
.search-route-icon {
  font-size: 12px;
}
.close-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 0px;
}
.hamburger {
  font-size: 26px;
}
.mobile-menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  width: 100%;
  padding: 20px;
}
.menu-items {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
}
.highlight {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .desktop-menu {
    display: flex;
    align-items: center;
  }
  .mobile-menu {
    display: none;
  }
  .nav-bar {
    min-height: 10vh;
    padding-left: 100px;
    padding-right: 100px;
  }
  .header-menu {
    list-style-type: none;
    margin-right: 250px;
  }
  .menu-items {
    margin-right: 20px;
  }
  .highlight {
    font-weight: 700;
  }
  .avatar {
    width: 30px;
  }
  .mobile-menu-items {
    display: none;
  }
}
